require 'logger'

module Greylist
  module Config
    @values = {      
      :greylisting_delay   => 5,                                 # Minutes until a resent message is accepted
      :graylisting_max_age => 10080,                             # Minutes until a resent message is no longer accepted
      :whitelist_directory => '/var/lib/greylist.rb/whitelist',
      :greylist_directory  => '/var/lib/greylist.rb/greylist',
      :opt_in_directory    => '/etc/greylist.rb/opt-in',
      :socketfile          => '/var/run/greylist.rb/greylist.sock',
      :pidfile             => '/var/run/greylist.rb/greylist.pid',
      :logfile             => '/var/log/greylist.rb/greylist.log',
      :user                => 'greylist'
      :loglevel            => Logger::INFO,
    }
    
    def self.method_missing(name)
      return @values[name] if @values.has_key?(name)
      super
    end
  end
end

