[Unit]
Description=Start greylist.rb daemon
Before=exim.target

[Service]
Type=forking
ExecStart=/usr/bin/ruby /usr/local/scripts/greylist/greylist.rb start
ExecStop=/usr/bin/ruby /usr/local/scripts/greylist/greylist.rb stop
PIDFile=/var/run/greylist/greylist.pid

[Install]
WantedBy=multi-user.target
